<!-- banner -->
<div class="banner"> Rent & Shine
</div>
<div class="container">
  <% @tags = ActsAsTaggableOn::Tag.most_used(5) %>
  <% @tags.each do |tag| %>
    <div class="d-flex">
      <div id="<%tag.name%>">
        <h2 class="category"><%= tag.name %>
          <div class="number">(<%=@listings.tagged_with(tag.name).size %>)</div>
        </h2>
      </div>
    </div>
    <div class="row">
      <% @listings.tagged_with(tag.name).each do |listing| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" >
            <% if listing.images.empty? %>
              <%= image_tag 'logo.png', class: "card-img" %>
            <% else %>
              <%= cl_image_tag listing.images[0], class: "card-img" %>
            <% end %>
            <div class="card-description">
              <p id="brand"><%=listing.brand%></p>
              <p><i><%=listing.detail%></i></p>
              <p><%=listing.size%></p>
              <p>$<%=listing.price%>/day</p>
            </div>
          </div>
          <%= link_to "", listing_path(listing), class: 'card-link' %>
        </div>
    <% end %>
  </div>
<% end %>
</div>

