<h1>Add a New Item</h1>
<div class="banner">
</div>
<div class="container">
  <div class="form">
    <%= simple_form_for @listing, html: { multipart: true} do |f| %>
      <p>Image</p>
      <div class="img-container">
        <div class="img-placeholder"><i class="fas fa-plus"></i></div>
        <div class="img-placeholder"><i class="fas fa-plus"></i></div>
        <div class="img-placeholder"><i class="fas fa-plus"></i></div>
        <div class="img-placeholder"><i class="fas fa-plus"></i></div>
      </div>
      <%= f.input :images, as: :file, input_html: { multiple: true }%>
      <%= f.input :price, placeholder: '$1000/day' %>
      <%= f.input :size, placeholder: 'S-6-10-38'%>
      <%= f.input :brand, placeholder: 'Chanel'%>
      <%= f.input :detail, placeholder: 'Chanel Cotton Tweed Coral & White Dress Spring-Summer 2019' %>
      <%= f.input :address, placeholder: '819 West Nanjing Road Shanghai'%>
      <%= f.button :submit, class: "button" %>
    <% end %>
  </div>
</div>