<div class="show">
  <div class="show-container">
    <div class="list-img"><%= cl_image_tag @listing.images[0], height: 646, width: 464, class: "list-img" %></div>
    <div class="box-right">
      <div class="upper-right">
        <% if @listing.user == @user %>
          <%= link_to "Edit this Listing", edit_listing_path(anchor: 'img-upload'), class: "button show-edit-btn"  %>
        <% end %>
        <div class="description">
          <h1><%= @listing.brand %></h1>
          <h4><%= @listing.detail %></h4>
          <div class="d-flex">
            <p><% @listing.tag_list.each do |tag| %>
                <p class="tags"><%= link_to tag, listings_path(anchor: tag) %></p>
              <% end %></p>
          </div>
          <div class="size-price">
            <h5>¥ <%= @listing.price %> / day</h5>
            <h5>Size: <%= @listing.size %></h5>
          </div>
          <hr>
          <h4>Booking</h4>
          <div class="box-form">
            <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
              <%= simple_form_for [@listing, @booking] do |f| %>
                <%= f.input :start_date, as: :string, required: false, input_html: { class: "datepicker" } %>
                <%= f.input :end_date, as: :string, required: false, input_html: { class: "datepicker" } %>
                <% if @listing.user != @user %>
                  <%= f.button :submit, "Book", class: "button" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="map" style="width: 100%; height: 200px;" data-marker="<%= @marker.to_json %>" data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>