<h1>Booking Confirmation</h1>
<hr>
<% @listing.images.each do |image| %>
  <div class="list-img"><%= cl_image_tag image, height: 646, width: 464, class: "list-img" %></div>
<% end %>
<table>
  <tr>
    <th>Booking Start Date: </th>
    <th><%= @booking.start_date %></th>
  </tr>
  <tr>
    <th>Booking End Date: </th>
    <th><%= @booking.end_date %></th>
  </tr>
  <tr>
    <th>Brand: </th>
    <th><%= @listing.brand %></th>
  </tr>
  <tr>
    <th>Description: </th>
    <th><%= @listing.detail %></th>
  </tr>
  <tr>
    <th>Price: </th>
    <th><%= @listing.price %></th>
  </tr>
  <tr>
    <th>Price: </th>
    <th><%= @listing.size %></th>
  </tr>
</table>
<%= link_to "Go back to index", listings_path, class: "button" %>