<h1>Booking Confirmation</h1>
<hr>
<div class="big-box">
  <div class="img">
    <% @listing.images.each do |image| %>
      <%= cl_image_tag image, height: 646, width: 464, class: "img"  %>
    <% end %>
  </div>
  <div class="container confirm">
    <table>
      <tr>
        <th class="left">Booking Start Date: </th>
        <th><%= @booking.start_date.strftime("%F") %></th>
      </tr>
      <tr>
        <th class="left">Booking End Date: </th>
        <th><%= @booking.end_date.strftime("%F") %></th>
      </tr>
      <tr>
        <th class="left">Brand: </th>
        <th><%= @listing.brand %></th>
      </tr>
      <tr>
        <th class="left">Description: </th>
        <th><%= @listing.detail %></th>
      </tr>
      <tr>
        <th class="left">Price: </th>
        <th><%= @listing.price %></th>
      </tr>
      <tr>
        <th class="left">Size: </th>
        <th><%= @listing.size %></th>
      </tr>
    </table>
    <div><%= link_to "Go back to index", listings_path, class: "button" %></div>
  </div>
</div>