<div class="show-container">
  <h1>General Account Settings</h1>
  <div class="container">
    <p><strong>First Name:</strong> <%= @user.first_name %></p>
    <p><strong>Last Name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Address:</strong> <%= @user.address %></p>
    <%= link_to "Edit", users_profile_edit_path%>
  </div>
</div>