<h1>Welcome <%= @user.email%>!</h1>
<h2>Your Bookings</h2>
<!-- booking card -->
<div class="container">
  <% @bookings.each do |booking| %>
    <div class= "card-dash">
      <table>
        <tr>
          <th class="row-title">Rental Period:</th>
          <th><%= booking.start_date.strftime("From %F") %> <%= booking.end_date.strftime("to %F") %></th>
        </tr>
        <tr>
          <th class="row-title">Brand</th>
          <th><%=booking.listing.brand%></th>
        </tr>
        <tr>
          <th class="row-title">Description:</th>
          <th><%=booking.listing.detail%></th>
        </tr>
        <tr>
          <th class="row-title">Size:</th>
          <th><%=booking.listing.size%></th>
        </tr>
        <tr>
          <th class="row-title">Paid:</th>
          <th>$<%=booking.total_price%></th>
        </tr>
      </table>
      <%= cl_image_tag booking.listing.images[0], class: "card-img", id:"dash-img" %>
    </div>
  <% end %>
</div>
<!-- listing card -->
<div class="middle-bar">
  <h2>Your Listings</h2>
  <%= link_to "Add listing", new_listing_path, class: "button"%>
</div>
<div class="container">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to edit_listing_path(listing) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to listing_path(listing), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <div class="card" >
          <%= cl_image_tag listing.images[0], class: "card-img" %>
          <div class="card-description">
            <p id="brand"><%=listing.brand%></p>
            <p><i><%=listing.detail%></i></p>
            <p><%=listing.size%></p>
            <p>$<%=listing.price%>/day</p>
          </div>
        </div>
        <%= link_to "", listing_path(listing), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>
<!-- create_table "bookings", force: :cascade do |t|
t.integer "total_price"
t.datetime "start_date"
t.datetime "end_date"
t.bigint "user_id"
t.bigint "listing_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.index ["listing_id"], name: "index_bookings_on_listing_id"
t.index ["user_id"], name: "index_bookings_on_user_id"
end
create_table "listings", force: :cascade do |t|
t.integer "price"
t.string "image"
t.string "detail"
t.string "brand"
t.string "size"
t.bigint "user_id"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.index ["user_id"], name: "index_listings_on_user_id"
end -->